body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#container {
    display: flex;
    flex: 1;
    overflow: hidden;
}

#folderContainer, #binContainer {
    width: 250px;
    border-right: 1px solid #ccc;
    padding: 10px;
    overflow-y: auto;
}

#fileListContainer {
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
}

#searchInput, #sortButton {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.folder, .file {
    padding: 10px;
    border: 1px solid #ccc;
    margin: 5px 0;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.folder:hover, .file:hover {
    background-color: #f0f0f0;
}

.file img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

#binContainer {
    border-left: 1px solid #ccc;
}

#binList .file {
    justify-content: space-between;
}

/* Responsive Styles */
@media (max-width: 768px) {
    #folderContainer, #binContainer {
        width: 200px;
    }

    #searchInput, #sortButton {
        width: calc(100% - 20px);
        margin: 10px;
    }
}

@media (max-width: 576px) {
    #container {
        flex-direction: column;
    }

    #folderContainer, #binContainer {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #ccc;
    }

    #binContainer {
        border-bottom: none;
        border-top: 1px solid #ccc;
    }
}
