/* Basic Styling */

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1200px;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

#folders, #files-container, #bin-container {
  background-color: #fff;
  border: 1px solid #dee2e6;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 1;
}

#folders {
  max-width: 250px;
}

#folders div, #files div, #bin div {
  margin: 10px 0;
  padding: 10px;
  background-color: #f1f3f5;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#folders div:hover, #files div:hover, #bin div:hover {
  background-color: #e9ecef;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#searchInput {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ced4da;
  border-radius: 8px;
  box-sizing: border-box;
}

#folders div, #files div, #bin div img {
  display: block;
  margin-right: 10px;
  width: 50px;
  height: 50px;
}

#folders div p, #files div p, #bin div p {
  margin: 0;
  text-align: left;
  flex: 1;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  outline: none;
}

button:hover {
  background-color: #0056b3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:active {
  background-color: #004085;
}

#bin-container h2 {
  margin-top: 0;
}

#modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content button {
  margin: 10px;
}

@media (max-width: 768px) {
  #container {
    flex-direction: column;
  }

  #folders, #files-container, #bin-container {
    max-width: none;
    width: 100%;
  }
}
